{"url":"http://amovies.org/serials/3717-legendy-zavtrashnego-dnya.html","title":"Легенды завтрашнего дня 1 сезон 1-7 серия NewStudio смотреть онлайн бесплатно в хорошем качестве","sleepTime":0,"changed":false,"observationType":"STATIC","pageActionList":[{"type":"CLASS","typeValue":"arhive_news"}]}
{"url":"http://amovies.org/serials/3498-lyuter.html","title":"Лютер 4 сезон 1-2 серия ColdFilm смотреть онлайн бесплатно в хорошем качестве","sleepTime":0,"changed":false,"observationType":"STATIC","pageActionList":[{"type":"CLASS","typeValue":"arhive_news"}]}
{"url":"http://amovies.org/serials/3184-flesh.html","title":"Флэш 2 сезон 1-15 серия Alt Pro смотреть онлайн бесплатно в хорошем качестве","sleepTime":0,"changed":false,"observationType":"STATIC","pageActionList":[{"type":"CLASS","typeValue":"arhive_news"}]}
{"url":"http://amovies.org/serials/3317-grimm.html","title":"Гримм 5 сезон 1-11 серия ColdFilm смотреть онлайн бесплатно в хорошем качестве","sleepTime":0,"changed":false,"observationType":"STATIC","pageActionList":[{"type":"CLASS","typeValue":"arhive_news"}]}
{"url":"http://amovies.org/serials/3851-11-22-63.html","title":"11/22/63 1 сезон 1-3 серия Baibako смотреть онлайн бесплатно в хорошем качестве","sleepTime":0,"changed":false,"observationType":"STATIC","pageActionList":[{"type":"CLASS","typeValue":"arhive_news"}]}
{"url":"http://amovies.org/serials/3033-oblasti-tmy.html","title":"Области тьмы 1 сезон 1-16 серия Baibako смотреть онлайн бесплатно в хорошем качестве","sleepTime":0,"changed":false,"observationType":"STATIC","pageActionList":[{"type":"CLASS","typeValue":"arhive_news"}]}
{"url":"http://amovies.org/serials/3628-lyucifer.html","title":"Люцифер 1 сезон 1-6 серия Alt Pro смотреть онлайн бесплатно в хорошем качестве","sleepTime":0,"changed":false,"observationType":"STATIC","pageActionList":[{"type":"CLASS","typeValue":"arhive_news"}]}
{"url":"http://amovies.org/serials/2487-superdevushka.html","title":"Супердевушка 1 сезон 1-15 серия NewStudio смотреть онлайн бесплатно в хорошем качестве","sleepTime":0,"changed":false,"observationType":"STATIC","pageActionList":[{"type":"CLASS","typeValue":"arhive_news"}]}
{"url":"http://amovies.org/serials/3008-gotem.html","title":"Готэм 2 сезон 1-12 серия Kerob смотреть онлайн бесплатно в хорошем качестве","sleepTime":0,"changed":false,"observationType":"STATIC","pageActionList":[{"type":"CLASS","typeValue":"arhive_news"}]}
{"url":"http://amovies.org/serials/3212-strela.html","title":"Стрела 4 сезон 1-15 серия NewStudio смотреть онлайн бесплатно в хорошем качестве","sleepTime":0,"changed":false,"observationType":"STATIC","pageActionList":[{"type":"CLASS","typeValue":"arhive_news"}]}
{"url":"http://amovies.org/serials/2637-oboroten.html","title":"Волчонок 5 сезон 1-19 серия ColdFilm смотреть онлайн бесплатно в хорошем качестве","sleepTime":0,"changed":false,"observationType":"STATIC","pageActionList":[{"type":"CLASS","typeValue":"arhive_news"}]}
{"url":"http://amovies.org/serials/3210-sverhestestvennoe.html","title":"Сверхъестественное 11 сезон 1-15 серия DreamRecords смотреть онлайн бесплатно в хорошем качестве","sleepTime":0,"changed":false,"observationType":"STATIC","pageActionList":[{"type":"CLASS","typeValue":"arhive_news"}]}
{"url":"http://amovies.org/serials/2611-fors-mazhory.html","title":"Форс-мажоры 5 сезон 1-16 серия NewStudio смотреть онлайн бесплатно в хорошем качестве","sleepTime":0,"changed":false,"observationType":"STATIC","pageActionList":[{"type":"CLASS","typeValue":"arhive_news"}]}
{"url":"http://readmanga.me/one__piece","title":"Читать мангу на русском Ван Пис (One Piece). Ода Эйитиро Новые главы - ReadManga.me","sleepTime":0,"changed":false,"observationType":"STATIC","pageActionList":[{"type":"CLASS","typeValue":"read-last"}]}
{"url":"http://readmanga.me/bleach_","title":"Читать мангу на русском Блич (Bleach). Кубо Тайто Новые главы - ReadManga.me","sleepTime":0,"changed":false,"observationType":"STATIC","pageActionList":[{"type":"CLASS","typeValue":"read-last"}]}
